*{
    margin: 0;
    padding: 0;
}
.body{
    box-sizing: border-box;
        font-family: "Lora";
        background: #f7f7f7;
        color: #22223b;
}
.container {
    max-width: 1510px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}
a{
    color: #f7f7f7;
    text-decoration: none;
}
